.table {
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 0.5em 0.5em;
}

.table thead tr {
    color: var(--accent-fg-color);
}

.table tbody td {
    color: var(--fg-color);
}

.table tbody tr {
    border-bottom: 1px solid var(--shade-color);
}

.table tbody tr:last-of-type {
    border-bottom: none;
}